.gradle
build
.gradle
.gradle/
.gradle/**
.gradle-cache/
**/build
**/out
.git
.gitignore
.idea
.vscode
*.iml
**/*.log
.DS_Store
*.zip
gradlew
gradlew.bat
node_modules
.env

# keep src and gradle wrapper
!gradle/wrapper/**
!gradlew
!gradlew.bat

# Allow the built jar to be copied into runtime-only image when present
!build/libs/*.jar
